# Directorios de dependencias
node_modules/
backend/services/auth-service/node_modules/

# Archivos de configuración de VSCode
.vscode/

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de compilación
dist/
build/
coverage/

# Archivos temporales
tmp/
temp/
*.tmp
*.swp

# Configuraciones específicas del sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias específicas de Node.js
package-lock.json
yarn.lock

# Otros archivos y directorios a ignorar
*.bak
*.backup
*.old
*.orig